table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  background-color: backgroundcolor; 
  table-layout: fixed;
}

td, th {
  border: 0px solid #dddddd;
  text-align: left;
  padding: 8px;
}


